<h2>Log in</h2>

  <div class="row">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s6">
          <i class="material-icons">account_circle</i>
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
        </div>
        <div class="input-field col s6">
          <i class="material-icons">phone</i>
          <%= f.label :password %><br />
          <%= f.password_field :password, autocomplete: "off" %>
        </div>

        <% if devise_mapping.rememberable? -%>
        <div class="input-field col s6">
          <i class="material-icons">phone</i>

          <%= f.label :password %><br />
          <%= f.password_field :password, autocomplete: "off" %>
        </div>
        <% end -%>

        <i class="material-icons right">send</i>
        <%= f.submit 'Log in', class: 'btn waves-effect waves-light' %>

    <% end %>

      </div>
    </form>
  </div>

  <%= render "users/shared/links" %>
