<p id="notice"><%= notice %></p>

<div class="row">

	<div class="col s6">
	  <strong>Value:</strong>
	  <%= @weight.value %>
	</div>

	<div class="col s6">
	  <strong>Weight date:</strong>
	  <%= @weight.weight_date %>
	</div>
</div>

<div class="row">
	<%= link_to 'Edit', edit_weight_path(@weight),class: 'btn btn-primary grey' %> |
	<%= link_to 'Back', weights_path,class: 'waves-effect waves-light btn' %>
</div>
