<%= form_with(model: diet, local: true) do |form| %>
  <% if diet.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(diet.errors.count, "error") %> prohibited this diet from being saved:</h2>

      <ul>
      <% diet.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :begin_date %>
    <%= form.date_select :begin_date, id: :diet_begin_date %>
  </div>

  <div class="field">
    <%= form.label :end_date %>
    <%= form.date_select :end_date, id: :diet_end_date %>
  </div>

  <div class="field">
    <%= form.label :weight %>
    <%= form.text_field :weight, id: :diet_weight %>
  </div>

  <div class="field">
    <%= form.label :height %>
    <%= form.text_field :height, id: :diet_height %>
  </div>

  <div class="field">
    <%= form.label :ideal_weight %>
    <%= form.text_field :ideal_weight, id: :diet_ideal_weight %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
