<div class="row">
  <%= simple_form_for @diet do |form| %>
      <%= form.error_notification errors:true%>

    <div class="row">
      <div class="input-field col s6">
        <%= form.input :begin_date,as: :string%>

      </div>
    </div>

    <div class="row">
      <div class="input-field col s6">
        <%= form.input :end_date,as: :string%>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s12">
        <%= form.input :weight, as: :string%>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s12">
        <%= form.input :height, as: :string%>

      </div>
    </div>

    <div class="row">
      <div class="input-field col s12">
        <%= form.input :ideal_weight, as: :string%>
      </div>
    </div>
  <h4>Diet Fields</h4>
    <div id='diet_fields'>
      <%= form.simple_fields_for :diet_fields do |diet_field| %>
        <%= render 'diet_field_fields', f: diet_field  %>
      <% end %>
    </div>

      <div class="links">
        <%= link_to_add_association '+ add diet field', form, :diet_fields,class: "btn waves-effect waves-light blue right white-text" %>
        
      </div>

    <div class="row">
      <%= form.button :submit ,class: 'btn btn-primary grey'%>
    </div>
  <% end %>
</div>
