<p id="notice"><%= notice %></p>

<h1>Diets</h1>

  <% @diets.each do |diet| %>

    <div class="card">

      <div class="card-content">
        <span class="card-title activator grey-text text-darken-4"><%= diet.begin_date %> / <%= diet.end_date %><i class="material-icons right">more_vert</i></span>
        <p><%= link_to 'Show', diet ,class: 'waves-effect waves-light btn' %></p>
        <p><%= link_to 'Edit', edit_diet_path(diet) ,class: 'btn btn-primary grey' %></p>
        <p><%= link_to 'Destroy', diet, class: 'btn-flat waves-effect waves-light red', method: :delete, data: { confirm: 'Are you sure?' } %></p>
      </div>
      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
        <p>Ideal weight: <%= diet.ideal_weight %></p>
        <p>Weight: <%= diet.weight %></p>

      </div>
    </div>

  <% end %>
<%= link_to 'New Diet', new_diet_path ,class: 'btn btn-primary grey'%>
