<p id="notice"><%= notice %></p>

<h1>Diets</h1>

<table>
  <thead>
    <tr>
      <th>Begin date</th>
      <th>End date</th>
      <th>Weight</th>
      <th>Height</th>
      <th>Ideal weight</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @diets.each do |diet| %>
      <tr>
        <td><%= diet.begin_date %></td>
        <td><%= diet.end_date %></td>
        <td><%= diet.weight %></td>
        <td><%= diet.height %></td>
        <td><%= diet.ideal_weight %></td>
        <td><%= link_to 'Show', diet %></td>
        <td><%= link_to 'Edit', edit_diet_path(diet) %></td>
        <td><%= link_to 'Destroy', diet, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Diet', new_diet_path %>
