<div id="notice"><%= notice %></div>
<div class="row">
  <h4>Diet</h4>
  <div class="col s6">
    <strong>Begin date:</strong>
    <%= @diet.begin_date %>
  </div>

  <div class="col s6">
    <strong>End date:</strong>
    <%= @diet.end_date %>
  </div>

  <div class="col s6">
    <strong>Weight:</strong>
    <%= @diet.weight %>
  </div>

  <div class="col s6">
    <strong>Height:</strong>
    <%= @diet.height %>
  </div>

  <div class="col s6">
    <strong>Ideal weight:</strong>
    <%= @diet.ideal_weight %>
  </div>
  <div class="col s12">
      <h4>Diet Fields</h4>
    <% if @diet.diet_fields.present?%>
      <% @diet.diet_fields.each do |df| %>
        <div class="divider"></div>
        <p>Time : <%= df.schedule %></p>
        <p>Description: <%= df.description %></p>
        <p>Meal: <%= df.meal %></p>
        <div class="divider"></div>
      <% end %>
    <% end %>
  </div>

</div>
<div class="row">
  <h4>Graph</h4>

  <%= line_chart @diet.weights.map { |weight| [weight.weight_date, weight.value] }  %>
</div>

<div class="row">
  <%= link_to 'Edit', edit_diet_path(@diet) ,class: 'btn btn-primary grey'%> |
  <%= link_to 'Back', diets_path ,class: 'waves-effect waves-light btn'%>
</div>